# Auto detect text files and perform LF normalization
* text 

# Don't check these into the repo as LF to work around TeamCity bug
*.xml     -text 
*.targets -text

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Denote all files that are truly binary and should not be modified.
*.dll binary
*.exe binary
*.png binary
*.ico binary
*.snk binary
*.pdb binary
*.svg binary

# Verify requires LF in verified files, whatever the checkout platform
*.verified.txt text eol=lf working-tree-encoding=UTF-8
*.verified.xml text eol=lf working-tree-encoding=UTF-8
*.verified.json text eol=lf working-tree-encoding=UTF-8
*.verified.sql text eol=lf working-tree-encoding=UTF-8
*.verified.il text eol=lf working-tree-encoding=UTF-8
